# Python & setuptools
__pycache__
/build
/deb-build
/reprepro
/rpm-build
/tar-build
/setup-bundle-build
/dist
/*.egg-info
*.py[c,o]
/.eggs

# Testing
.cache
.coverage
.tox
coverage.xml
htmlcov
pep8.txt
scratch
testem.log
.pytest_cache/

# Mac OS X
*.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/*
