# Python & setuptools
__pycache__
/build
/deb-build
/reprepro
/rpm-build
/tar-build
/setup-bundle-build
/dist
/*.egg-info
*.py[c,o]
/.eggs

# Testing
.cache
.coverage
.tox
coverage.xml
htmlcov
pep8.txt
scratch
testem.log
.pytest_cache/

# Mac OS X
*.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/*

# Testing data
metrics_utility/test/test_data/data/**/*.csv
metrics_utility/test/test_data/data/**/*.json
!metrics_utility/test/test_data/data/**/*.tar.gz


# Reports
/metrics_utility/test/test_data/reports/

# Shipped data - for regular usage during developement
/shipped_data/
